@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-plus-jakarta), sans-serif;
}

 nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
 }

 .menu-icon {
  display: none;
 }
 
 .Nyangu{
   display: flex;
   align-items: center;
   gap: 50px;
 }

 .Nyangu a {
   font-size: 18px;
   color: black;
   text-decoration: none;
 }

 .btn{
   color: white;
   background-color: #003E30;
   border: none;
   padding: 10px 16px;
   border-radius: 10px;
 }

  
.card {
   width: 376px;
   
 }
 .content-up{
   display: flex;
   justify-content: space-between;
   align-items: start;
 }

 .content-down {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 .ammenities {
   display: flex;
   align-items: center;
   gap: 16px;
 }

 .ammenity {
   display: flex;
   align-items: center;
   gap: 10px;
 }

.compare {
   display: flex;
   align-items: center;
}

.listings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 300px;
  gap: 8px
}

.pim{
  /* margin-top: 180px; */
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  height: 300px;
  width: 100%;
  /* gap: 40px; */
  /* width: 250px; */
  /* height: 250px; */
}

.pim img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* .big_img {
  background: #000;
} */

@media screen and (max-width: 480px) {
  .listings {
   grid-template-columns: repeat(1, 1fr);
  }
  .card {
   width: 96%;
   margin: 0 auto;
 }
 .Nyangu {
    display: none;
 }
  .menu-icon {
  display: block;
 }
}


/* .big_img {
  margin-top: 180px;
  width: 770px;
  height: 515px;
} */
